// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '~bootstrap/scss/functions';

// 2. Include any default variable overrides here

// Adjust font-weight for Noto Sans Traditional Chinese
$font-weight-lighter: 100 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default; // custom
$font-weight-bold: 700 !default;
$font-weight-bolder: 900 !default;

// 3. Include remainder of required Bootstrap stylesheets
@import './helpers/bootstrap/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/bootstrap';

// Then add additional custom code here

// Font-weight
.fw-medium {
  font-weight: 500;
}

// Font-size
.fs-7 {
  font-size: 0.875rem;
}

.fs-8 {
  font-size: 0.75rem;
}

// Font line-height
.lh-md {
  line-height: 1.5 !important;
}

// Sizing
.w-15 {
  width: 15% !important;
}
.w-45 {
  width: 45% !important;
}
.w-70 {
  width: 70% !important;
}
.w-90 {
  width: 90% !important;
}

.mh-70 {
  max-height: 70vh;
}

// Position
.start-75 {
  left: 75% !important;
}

.start-neg2 {
  left: -2%;
}

.end-neg5 {
  right: -5%;
}

.top-28 {
  top: 28% !important;
}

.top-40 {
  top: 40% !important;
}

.vh-50 {
  height: 50vh !important;
}

// Color
.text-classic {
  &-green {
    color: #4d6d58;
  }
  &-red {
    color: #cc7e85;
  }
  &-blue {
    color: #496da5;
  }
  &-black {
    color: #343F49;
  }
}

.link-classic {
  &-green {
    color: #4d6d58 !important;
    &:hover {
      color: #1f3d2b !important;
      transition: all 0.5s;
    }
  }
  &-red {
    color: #cc7e85;
    &:hover {
      color: #944B54 !important;
      transition: all 0.5s;
    }
  }
  &-blue {
    color: #496da5;
    &:hover {
      color: #043E71 !important;
      transition: all 0.5s;
    }
  }
}

.bg-classic {
  &-green {
    background-color: #4d6d58;
  }
  &-red {
    background-color: #cc7e85;
  }
  &-blue {
    background-color: #496da5;
  }
}

.btn-outline-classic{
  &-green {
    color: #4d6d58;
    border-color: #4d6d58;
    &:hover {
      color: #fff;
      background-color: #4d6d58;
      border-color: #4d6d58;
    }
  }
  &-red {
    color: #cc7e85;
    border-color: #cc7e85;
    &:hover {
      color: #fff;
      background-color: #cc7e85;
      border-color: #cc7e85;
    }
  }
  &-blue {
    color: #496da5;
    border-color: #496da5;
    &:hover {
      color: #fff;
      background-color: #496da5;
      border-color: #496da5;
    }
  }
}
