// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '~bootstrap/scss/functions';

// 2. Include any default variable overrides here

// Adjust font-weight for Noto Sans Traditional Chinese
$font-weight-lighter: 100 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default; // custom
$font-weight-bold: 700 !default;
$font-weight-bolder: 900 !default;

// 3. Include remainder of required Bootstrap stylesheets
@import './helpers/bootstrap/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/bootstrap';

// Then add additional custom code here

.fw-medium {
  font-weight: 500;
}

.w-15 {
  width: 15% !important;
}
.w-45 {
  width: 45% !important;
}
.w-70 {
  width: 70% !important;
}
.w-90 {
  width: 90% !important;
}

.fs-7 {
  font-size: 0.875rem;
}

.fs-8 {
  font-size: 0.75rem;
}

.mh-70 {
  max-height: 70vh;
}

.start-75 {
  left: 75% !important;
}

.top-28 {
  top: 28% !important;
}

.color-classic {
  &-green {
    color: #4d6d58;
  }
  &-red {
    color: #cc7e85;
  }
  &-blue {
    color: #496da5;
  }
}

.bg-color-classic {
  &-green {
    background-color: #4d6d58;
  }
  &-red {
    background-color: #cc7e85;
  }
  &-blue {
    background-color: #496da5;
  }
}

.bg-color {
  &-gray {
    background-color: #F4F4F6;
  }
}